<!doctype html>

<html>

    <body>

        <div id="user_id_navbar" hidden>{{user.id}}</div>

        <div class="navbar">
            <a href="/login/{{user.id}}/search">Search for a recipe</a>
            <a href="/login/{{user.id}}">My Profile</a>
            <a href="/login/{{user.id}}/new_recipe">Add new recipe</a>
            <a href="/login/{{user.id}}/ai_recipe_input">Generate recipe using AI</a>
            <a href="/login/{{user.id}}/logout" id="logout">Logout</a>
        </div>
          
        
    </body>

</html>